<h1>Listing ameobas</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><strong>Name</strong></td>
        <td><strong>Talent</strong></td>
        <td><strong>Generation</strong></td>
        <td><strong>Act</strong></td>
      </tr>
    <% @ameobas.each do |ameoba| %>
      <tr>
        <td><%= link_to ameoba.name, ameoba%></td>
        <td><%= ameoba.talent.name %></td>
        <td><%= ameoba.generating_number %></td>
        <td><%= ameoba.act.name if ameoba.act%></td>
        <td><%= link_to 'Show', ameoba %></td>
        <td><%= link_to 'Edit', edit_ameoba_path(ameoba) %></td>
        <td><%= link_to 'Destroy', ameoba, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ameoba', new_ameoba_path %>
