<%= form_for(@act) do |f| %>
  <% if @act.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@act.errors.count, "error") %> prohibited this act from being saved:</h2>

      <ul>
      <% @act.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :date %><br>
    <%= f.date_field :date %>
  </p>
  <p>
    <%= f.label :time %><br>
    <%= f.time_field :time %>
  </p>
  <h3>Select Ameobas </h3>
  <p>
    <%= f.label :ameobas %>
    <%= f.collection_check_boxes(:ameobas, Ameoba.all, :id, :name)%>
  </p>

  <h3>Select Ameobas </h3>
  <p>
    <% @ameobas.each do |ameoba| %>
      <%=f.check_box :name%><%= ameoba.name %></br>
    <% end %>
  </p>
    <%= f.submit %>
  </div>
<% end %>
